/* Smartphones (portrait) ---------------- */
@media  screen 
and (max-width : 320px)
{
    .btn-menu li{
        text-align: center
    }
    .text-slider{
        margin: 0 5px;
        height: 50px
    }
    .text-slider h1{
        font-size: 14px;
        margin-top: -20px
    }
    .text-slider h2{
        font-size: 9px;
        margin: -5px 0
    }
}

/* Smartphones (landscape) ---------------- */
@media  screen 
and (min-width : 321px)
and (max-width : 767px)
{
    
}

/* Tablets (portrait) -------------------- */
@media  
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait)
{
    .text-slider{
        margin-left: 250px;
        margin-right: 250px;
    }
}

/* Tablets (landscape) ------------------- */
@media  screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape)
{
    .text-slider{
        margin-left: 240px;
        margin-right: 240px;
    }
    .text-slider h1{
        font-size: 25px
    }
}

/* Old Desktops and laptops ------------------ */
@media  screen 
and (min-width : 1025px) 
{
}

/* Desktops ------------------ */
@media  screen 
and (min-width : 1200px) 
{

}
/*Others*/

@media (max-width: 451px){
    .img-CDC{
        width: 200px;
        margin-left: -30px;
        margin-right: -50px
    }
    .mapa-cont{
        height: 400px
    }
}
@media (max-width: 767px){
    .btn-llamar,.btn-mje,.btn-mapa{
        display: block
    }
    .inf-cont{
        margin-left: 5px;
        margin-right: 5px
    }
    .mapa-cont{
        height: 350px;
        margin-left: 5px;
        margin-right: 5px
    }
    .mapa-cont iframe{
        margin: 0;
        margin-top: 10px;
        width:100%
    }
}
@media (max-width: 991px){
    .ind-izq{
        margin-right: 0px !important
    }
    .ind-izq img{
        margin: 0;
    }
    .ind-der{
        margin-left: 0px !important
    }
    .ind-der img{
        margin: 0
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .texto-fijo{
        top: 630px
    }
    .texto-fijo .wow{
        width: 500px;
        height: 60px;
    }
    .texto-fijo h1{
        font-size: 25px;
        margin-top: -25px
    }
    .texto-fijo h2{
        font-size: 18px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .btn-menu li{
        text-align: center
    }
    .img-grupal h1{
        top: 360px;
        font-size: 30px
    }
    .texto-fijo{
        top: 480px
    }
    .texto-fijo .wow{
        width: 500px;
        height: 60px;
    }
    .texto-fijo h1{
        font-size: 25px;
        margin-top: -25px
    }
    .texto-fijo h2{
        font-size: 18px;
        margin-top: 
    }
}
@media (min-width: 576px) and (max-width : 767px){
    .img-grupal h1{
        top: 240px;
        font-size: 23px;
    }
    .texto-fijo{
        top: 375px
    }
    .texto-fijo .wow{
        width: 300px;
        height: 50px
    }
    .texto-fijo h1{
        font-size: 20px;
        margin-top: -30px
    }
    .texto-fijo h2{
        font-size: 14px;
    }
}
@media (min-width: 507px) and (max-width : 575px){
    .img-grupal h1{
        top: 220px;
        font-size: 4vw;
    }
    .texto-fijo{
        top: 4.1%
    }
    .texto-fijo .wow{
        width: 300px;
        height: 50px;
    }
    .texto-fijo h1{
        font-size: 18px;
        margin-top: -25px
    }
    .texto-fijo h2{
        font-size: 13px;
        margin-top: 
    }
}
@media (min-width: 507px) and (max-width : 767px){
    .btn-menu li{
        text-align: center
    }
}
@media (min-width: 452px) and (max-width : 506px){
    .img-grupal h1{
        top: 60%;
        font-size: 22px;
        line-height: 27px;
    }
    .img-grupal h1 span{
        border-radius: 0
    }
    .texto-fijo{
        top: 3.7% !important
    }
    .texto-fijo .wow{
        width: 300px;
        height: 50px;
    }
    .texto-fijo h1{
        font-size: 18px;
        margin-top: -25px
    }
    .texto-fijo h2{
        font-size: 13px;
        margin-top: 
    }
}
@media (min-width: 321px) and (max-width : 451px){
    .img-grupal h1{
        top: 43%;
        font-size: 22px;
        line-height: 27px;
    }
    .img-grupal h1 span{
        border-radius: 0
    }
}
@media (min-width: 321px) and (max-width : 506px){
    .btn-menu li{
        text-align: center
    }
    .salto-linea{
        display: block;
    }
    .texto-fijo{
        top: 2.8%
    }
    .texto-fijo .wow{
        width: 258px;
        height: 50px;
    }
    .texto-fijo h1{
        font-size: 16px;
        margin-top: -28px
    }
    .texto-fijo h2{
        font-size: 13px;
        margin-top: 
    }
}
