/* Smartphones (portrait) ---------------- */
@media  screen 
and (max-width : 320px)
{
    .btn-menu li{
        text-align: center
    }
}

/*Others*/

@media (max-width: 451px){
    .img-CDC{
        width: 200px;
        margin-left: -30px;
        margin-right: -50px
    }
    .mapa-cont{
        height: 400px
    }
}
@media (max-width: 767px){
    .btn-llamar,.btn-mje,.btn-mapa{
        display: block
    }
    .inf-cont{
        margin-left: 5px;
        margin-right: 5px
    }
    .mapa-cont{
        height: 350px;
        margin-left: 5px;
        margin-right: 5px
    }
    .mapa-cont iframe{
        margin: 0;
        margin-top: 10px;
        width:100%
    }
    #footer{
        padding-bottom: 50px
    }
}
@media (max-width: 991px){
    .ind-izq{
        margin-right: 0px !important
    }
    .ind-izq img{
        margin: 0;
    }
    .ind-der{
        margin-left: 0px !important
    }
    .ind-der img{
        margin: 0
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .texto-fijo .texto-interno{
        width: 500px;
        height: 60px;
    }
    .texto-fijo h1{
        font-size: 25px;
        margin-top: -25px
    }
    .texto-fijo h2{
        font-size: 18px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .btn-menu li{
        text-align: center
    }
    .img-grupal h1{
        top: 360px;
        font-size: 30px
    }
    .texto-fijo .texto-interno{
        width: 500px;
        height: 60px;
    }
    .texto-fijo h1{
        font-size: 25px;
        margin-top: -25px
    }
    .texto-fijo h2{
        font-size: 18px;
        margin-top: 
    }
}
@media (min-width: 576px) and (max-width : 767px){
    .img-grupal h1{
        top: 240px;
        font-size: 23px;
    }
    .texto-fijo .texto-interno{
        width: 300px;
        height: 50px
    }
    .texto-fijo h1{
        font-size: 20px;
        margin-top: -30px
    }
    .texto-fijo h2{
        font-size: 14px;
    }
}
@media (min-width: 507px) and (max-width : 575px){
    .img-grupal h1{
        top: 220px;
        font-size: 4vw;
    }
    .texto-fijo .texto-interno{
        width: 300px;
        height: 50px;
    }
    .texto-fijo h1{
        font-size: 18px;
        margin-top: -25px
    }
    .texto-fijo h2{
        font-size: 13px;
        margin-top: 
    }
}
@media (min-width: 507px) and (max-width : 767px){
    .btn-menu li{
        text-align: center
    }
}
@media (min-width: 452px) and (max-width: 506px){
    .img-grupal h1{
        top: 60%;
        font-size: 22px;
        line-height: 27px;
    }
    .img-grupal h1 span{
        border-radius: 0
    }
    .texto-fijo .texto-interno{
        width: 300px;
        height: 50px;
    }
    .texto-fijo h1{
        font-size: 18px;
        margin-top: -25px
    }
    .texto-fijo h2{
        font-size: 13px;
        margin-top: 
    }
}
@media (min-width: 321px) and (max-width : 451px){
    .img-grupal h1{
        top: 43%;
        font-size: 22px;
        line-height: 27px;
    }
    .img-grupal h1 span{
        border-radius: 0
    }
    .texto-fijo{
    }
    .texto-fijo .texto-interno{
        width: 200px;
        height: 35px;
    }
    .texto-fijo h1{
        font-size: 13px;
        margin-top: -28px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -16px
    }
    .texto-fijo h2{
        font-size: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: -7px
    }
    .img-ind img{
        height: 250px
    }
}
@media (min-width: 321px) and (max-width : 506px){
    .btn-menu li{
        text-align: center
    }
    .salto-linea{
        display: block;
    }
    
}
@media (max-width:320px){
    .texto-fijo .texto-interno{
        width: 200px;
        height: 35px;
    }
    .texto-fijo h1{
        font-size: 13px;
        margin-top: -28px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -16px
    }
    .texto-fijo h2{
        font-size: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: -7px
    }
    .img-grupal h1{
        top: 43%;
        font-size: 20px;
        line-height: 24px;
    }
    .img-grupal h1 span{
        border-radius: 0
    }
    .img-ind img{
        height: 250px
    }
}
